@import '../../utilities/scss/utilities';

.ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 608px;
  height: 608px;
  margin: 0 auto;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &__item {
    position: absolute;
    top: 0;
    border-style: solid;
    border-radius: 50%;

    &_thin {
      width: 100%;
      height: 100%;
      border-color: #494949;
      border-width: 1px;
      opacity: 0.5;
    }

    &_thick {
      top: 12px;
      left: 12px;
      width: 93%;
      height: 93%;
      border-color: #fff;
      border-width: 10px;
      transform: rotate(-45deg);
    }

    &_yellow {
      top: 12px;
      left: 12px;
      width: 93%;
      height: 93%;
      border-color: #ffeb00 transparent;
      border-width: 10px;
      transform: rotate(-45deg);
      animation: ellipseRotate 15s ease-in-out infinite;
    }
  }

  &__circle {
    position: absolute;
    width: 64px;
    height: 64px;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;

    &_1 {
      top: 150px;
      left: 150px;

      .ellipse__text {
        left: 75px;
      }
    }

    &_2 {
      right: 130px;
      bottom: 150px;

      .ellipse__text {
        left: -90px;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: '';
    }

    &::before {
      z-index: 1;
      width: 12px;
      height: 12px;
      background: #fff;
    }

    &::after {
      width: 40px;
      height: 40px;
      background: #ffeb00;
    }
  }

  &__text {
    position: absolute;
    top: 25px;
    width: 100px;
    font-size: 14px;
  }
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
