@import '../../utilities/scss/utilities';

.media {
  display: flex;
  justify-content: flex-end;
  padding: 1.8rem;

  &__link {
    display: inline-block;
    padding: 1.8rem;
    color: var(--#{$namespace}-color-secondary);
    font-size: 2rem;
    cursor: pointer;
    transition: background var(--#{$namespace}-transition-timing)
      var(--#{$namespace}-transition-easing);

    &:hover,
    &:focus {
      background-color: var(--#{$namespace}-color-primary);
    }
  }
}
