@import './utilities/scss/variables';

:root {
  --#{$namespace}-color-primary: #ffeb00;
  --#{$namespace}-color-primary-dark: #ead344;
  --#{$namespace}-color-secondary: #494949;
  --#{$namespace}-text-color: #000;
  --#{$namespace}-background-color: #d8dbe2;
  --#{$namespace}-transition-timing: 0.2s;
  --#{$namespace}-transition-easing: ease-out;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-size: 1.6rem;
  font-family: 'Montserrat';
  background: url('./images/reindeer.png') no-repeat;
  background-position: 50%;
  background-size: cover;
}

::selection {
  background-color: var(--#{$namespace}-color-primary);
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
